/* ============================================================================
   @SETTINGS
   ========================================================================= */


/**
 * All project specific settings
 */


/* Typography
   ========================================================================= */


/**
 * Weights.
 */

$font-weight-bold: 700;

$font-weight-normal: 400;

$font-weight-light: 300;


/* Colours
   ========================================================================= */


/**
 * Gradients.
 */

$colour-gradient-tropical: linear-gradient(-90deg, #f9ac0a 0%, #fd536f 50%, #bf2f44 100%);


/**
 * For the greys the lower the number the lighter the grey.
 */

$colour-grey-0: darken(#fff, 2%);