{% include html-head.html %}

  <body>

    {% include header.html %}

    <main role="main">
      <article>
        <header class="c-page-heading">
          <div class="l-container">
            <h1 class="c-page-heading__title">{{ page.title }}</h1>
            <p class="c-page-heading__intro">{{ page.intro }}</p>
          </div>
        </header>
        {{ content }}
      </article>
    </main>

    {% include footer.html %}

    {% include scripts.html %}

    <!-- Initialise scripts -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        //ghe.autoload();
      });
    </script>
    <!-- //Initialise scripts -->

  </body>

</html>
