<!-- Intro -->
<div class="l-container   u-s-pt-huge">
  <h1 class="u-text-align-center">Building UI is easy with Scally</h1>
  <p>The Scally framework helps you construct UI really easily by providing you with a suite of powerful utilities and layout modules, just like <a href="">Lego&trade;</a>.</p>
  <p>These utilities and layout modules can form a wide variety of UI patterns from simple principles meaning as CSS authors you don't have to keep writing the same styles over and over again, instead you can abstract those common styles into nice reusable chunks of code letting you crack on with actually building your project-specific UI.</p>
  <p>Scally also comes with&mdash;in it's <strong>Core</strong> section&mdash;sensible base styles that most projects need, handy Sass mixins and functions, a bunch of Sass settings to keep your most common styles managed in one place, a sensible reset, and <a href="">normalize.css</a>.</p>
</div>
<!-- //Intro -->