/* ============================================================================
   @COMPONENTS -> BUTTON
   ========================================================================= */


/**
 * Main button component.
 *
 * N.B. this builds on top of the Scally button component.
 */


.c-button {
  @extend %font-family-sans-serif;
  padding: to-rem(12) to-rem(32);
  //font-weight: $font-weight-bold;
  //transition: all 0.15s;

  &:hover,
  &:focus {
    background: none;
    border-color: $color-white;
  }
}