/* ============================================================================
   @COMPONENTS -> BUTTON
   ========================================================================= */


/**
 * Main button component.
 *
 * N.B. this builds on top of the Scally button component.
 */


.c-button {
  font-weight: $font-weight-bold;
  transition: all 0.15s;

  &:hover,
  &:focus {
    background: none;
    border-color: $color-white;
  }
}