/* ============================================================================
   @COMPONENTS -> BOX
   ========================================================================= */


/**
 * A generic box component that applies cosmetic styling to a block element.
 */


.c-box {
  //@include to-rem(padding, $spacing-base);
  //background-color: $color-white;
  border-radius: $border-radius;
  display: block;
  text-decoration: none;
  text-align: center;

  h2 {
    @include font-size(20);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    //font-weight: bold;
    margin-bottom: 0;
    display: none;
  }

  svg {
    //width: 140px;
    //@include to-rem(margin-bottom, $spacing-base);
  }

  &:hover,
  &:focus {

  }
}

.c-box__inner {
  width: 70%;
  margin: 0 auto;
  background: red;
  position: relative;

  > div {
    @extend %u-position-middle;
    width: 100%;
    background: green;
  }
}