/* ============================================================================
   @COMPONENTS -> DEMO BLOCK
   ========================================================================= */


/**
 * A component that encapsulates demos for Scally.
 */


/**
 * Settings.
 */

$c-demo-block-border-thickness: 1px;


.c-demo-block {
  margin-bottom: to-rem($spacing-double);


  /**
   * Last child.
   */

  &:last-child {
    margin-bottom: 0;
  }


  /**
   * Extend `.c-view-source-code` in View Source Code.
   */

  .c-view-source-code {
    margin-top: to-rem($spacing-half);
  }
}


/**
 * The title.
 */

.c-demo-block__title {
  @extend %bottom-spacing-half;
}


/**
 * The intro.
 */

.c-demo-block__intro {
  @include font-size($font-size-small);
}


/**
 * The example block.
 */

.c-demo-block__example {
  @extend %font-family-sans-serif;
  border: $c-demo-block-border-thickness solid $color-grey-concrete;
  border-radius: $border-radius;
  margin-left: -(to-rem($spacing-base));
  margin-right: -(to-rem($spacing-base));
}


/**
 * Apply inner padding.
 *
 * N.B. override padding from: Vendor -> Pygments Themes -> Solarized Dark.
 */

.c-demo-block__example__padded {
  padding: to-rem($spacing-base);
}

.c-demo-block__example .highlight {
  padding-top: to-rem($spacing-half);
  padding-bottom: to-rem($spacing-half);
}


/**
 * The example code.
 */

.c-demo-block__example__code {
  margin-left: -$c-demo-block-border-thickness;
  margin-right: -$c-demo-block-border-thickness;


  /**
   * Have to apply the rounded corners to Vendor -> Pygments Themes ->
   * Solarized Dark as that is where the background colour is applied.
   */

  &:last-child .highlight {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}


/**
 * An example heading.
 */

.c-demo-block__example__heading {
  @include font-size($font-size-small);
  background-color: $color-grey-concrete;
  margin-bottom: 0;
  padding: to-rem($spacing-quarter) to-rem($spacing-base);
}


/**
 * Apply styles to a `div` element to visually show how some of Scally works.
 */

// Tropical gradient border
.c-demo-block__example__result__box {
  padding: 1px;
  background: $color-gradient-tropical;
}

.c-demo-block__example__result__box__inner {
  background: $color-white;
}

// Grey border
.c-demo-block__example__result__box-alt {
  border: 1px solid $color-solarized-dark-base1;
}