/* ============================================================================
   @COMPONENTS -> HERO
   ========================================================================= */


/**
 * Hero banner that is featured on the home page.
 *
 * http://codepen.io/DominicFrancois/pen/zxdXmr?editors=110
 */


.c-hero {
  @extend %font-family-sans-serif;
  @include to-rem(padding-top padding-bottom, $spacing-double);
  position: relative;
  overflow: hidden;
  background: $color-gradient-tropical;
  // background: linear-gradient(to right,
  //   $color-sun 0%,
  //   $color-wild-watermelon 16%,
  //   $color-brick-red 32%,
  //   $color-wild-watermelon 48%,
  //   $color-sun 64%,
  //   $color-wild-watermelon 80%,
  //   $color-brick-red 100%);
  // background-size: 300% 300%;
  // animation: scroll-gradient infinite 60s linear;
  // background-repeat: no-repeat;
  // background-position: top left;


  /**
   * Base + link colour.
   */

  &,
  a {
    color: $color-white;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }
}

@keyframes scroll-gradient {
  from {background-position: top left;}
  to {background-position: top right;}
}

.c-hero__gradient {
  animation: scroll-forever 4s linear;
  background-image: $color-gradient-tropical;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.c-hero__gradient-after {
  animation: scroll-forever-reverse 4s linear;
  background-image: $color-gradient-tropical-reversed;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes scroll-forever {
  from {transform: translateX(0);}
  to {transform: translateX(-100%);}
}

@keyframes scroll-forever-reverse {
  from {transform: translateX(100%);}
  to {transform: translateX(0%);}
}


/**
 * Logo.
 */

.c-hero__logo {
  @include to-rem(margin-bottom, $spacing-double);
  text-align: center;
}


/**
 * Description.
 */

.c-hero__desc {
  @include font-size($font-size-x-large, 1.55);
}


/**
 * Actions.
 */

.c-hero__actions {
  text-align: center;
}


/**
 * Main actions.
 */

.c-hero__actions__main {
  @include to-rem(margin-bottom, $spacing-half);
  @include to-rem(margin-top, $spacing-double);
}

/**
 * Main action buttons are full bleed up until the viewport hits 400px wide at
 * which point they become as wide as the button text and horizontally align.
 */

.c-hero__actions__main__button {
  @include to-rem(margin-bottom, $spacing-third);
  @include to-rem(padding-top padding-bottom, $spacing-half + $spacing-micro);
  @include font-size($font-size-large, normal);

  &:last-child {
    margin-bottom: 0;
  }

  @include respond-to(400) {
    @include to-rem(margin-right, $spacing-quarter);
    display: inline-block;
    margin-bottom: 0;
    width: auto;
  }
}


/**
 * Sub actions.
 */

.c-hero__actions__sub {
  @include font-size($font-size-small);

  a {
    @include to-rem(margin-right, $spacing-half);
    display: inline-block;
  }
}