/* ============================================================================
   @COMPONENTS -> HERO
   ========================================================================= */


/**
 * Hero banner that is featured on the home page.
 */


.c-hero {
  @extend %font-family-sans-serif;
  @include to-rem(padding-top padding-bottom, $spacing-double);
  background-image: $color-gradient-tropical;
  text-align: center;
  // These 2 rules are needs for the animating gradient
  overflow: hidden;
  position: relative;

  @include respond-to(lap) {
    @include to-rem(padding-top padding-bottom, $spacing-quadruple);
  }

  /**
   * Base + link colours.
   */

  &,
  a {
    color: $color-white;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }
}


/**
 * Logo.
 */

.c-hero__logo {
  max-width: 80%;

  @include respond-to(lap) {
    max-width: 100%;
  }
}


/**
 * Main actions.
 */

.c-hero__actions-main {
  @include to-rem(margin-bottom, $spacing-base);
  @include to-rem(margin-top, $spacing-double);

  > li {
    @include to-rem(margin-bottom, $spacing-third);

    &:last-child {
      margin-bottom: 0;
    }

    @include respond-to(400) {
      @include to-rem(margin-right, $spacing-quarter);
      margin-bottom: 0;
    }
  }


  /**
   * Main action buttons are full bleed up until the viewport hits 400px wide
   * at which point they become as wide as the button text and horizontally
   * aligned.
   *
   * Extend `.c-button` from Scally -> Components -> Button.
   */

  .c-button {
    @include font-size($font-size-large, normal);

    @include respond-to(400) {
      display: inline-block;
      width: auto;
    }
  }
}


/**
 * Sub actions.
 */

.c-hero__actions-sub {
  @include font-size($font-size-small);

  a {
    @include to-rem(margin-right, $spacing-half);
    display: inline-block;
  }
}


/**
 * Animating the gradient horizontally. We have 2 elements both being 100% of
 * the viewport and having the gradient as a background image. Each element of
 * the gradient, the 2nd element  so the gradient is seamless. The 2nd half of
 * the gradient joins to the 1st half from behind with parts scrolling
 * horizontally for an infinite number of times.
 */

.c-hero__gradient {
  @extend %u-position-pin-all;
  background-image: $color-gradient-tropical;
  animation-duration: 90s;
  animation-timing-function: linear;
  animation-delay: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: -1;
}

/**
 * Modifier: 1st half.
 */

.c-hero__gradient--lead {
  animation-name: hero-scroll-lead;
}

/**
 * Modifier: 2nd half.
 */

.c-hero__gradient--follow {
  animation-name: hero-scroll-follow;
  margin-left: -1px;
}

/**
 * The animations.
 */

@keyframes hero-scroll-lead {
  from {transform: translateX(0);}
  to {transform: translateX(-100%);}
}

@keyframes hero-scroll-follow {
  from {transform: translateX(100%) scaleX(-1);}
  to {transform: translateX(0) scaleX(-1);}
}