/* ============================================================================
   @COMPONENTS -> INLINE CODE
   ========================================================================= */


/**
 * Inline code styles for the `code` element.
 */


.c-inline-code {
  background-color: $color-grey-concrete;
  border-radius: $border-radius;
  color: $color-solarized-dark-blue;
  display: inline-block;
  line-height: normal;
  margin-left: to-rem($spacing-micro);
  margin-right: to-rem($spacing-micro);
  padding: to-rem($spacing-micro) to-rem($spacing-fifth);
}