/* ============================================================================
   @COMPONENTS -> INLINE CODE
   ========================================================================= */


/**
 * Inline code styles for the `code` element.
 */


.c-inline-code {
  @include to-rem(margin-left margin-right, $spacing-micro);
  @include to-rem(padding, $spacing-micro $spacing-fifth);
  background-color: $color-grey-concrete;
  border-radius: $border-radius;
  color: $color-solarized-dark-blue;
  display: inline-block;
  line-height: normal;
}