/* ============================================================================
   @COMPONENTS -> SITE MAIN CONTENT
   ========================================================================= */


/**
 * The main content area of the site.
 */


.c-main-content {
  @include to-rem(padding-bottom, $spacing-triple);
  @include to-rem(padding-top, $spacing-double);
  background-color: $color-main-content-area-background;


  /**
   * Home page.
   */

  .s-view-index & {
    @include to-rem(padding-top, $spacing-triple);
  }
}


/**
 * Modifier: landing page version.
 */

.c-main-content--landing {
  @include to-rem(padding-bottom, $spacing-triple);
  background: $color-brick-red $color-gradient-tropical;
  padding-top: 0;


  /**
   * Base + link colours.
   */

  &,
  a {
    color: $color-white;
  }

  a:hover,
  a:focus {
    color: $color-grey-concrete;
  }
}