/* ============================================================================
   @COMPONENTS -> SITE HEADER
   ========================================================================= */


/**
 * The site header which is fixed to the viewport.
 */


/**
 * Settings.
 */

// Main colour
$c-site-header-main-color:             $color-white;

// Nav overline thickness
$c-site-header-nav-overline-thickness: 3px;


.c-site-header {
  @extend %font-family-sans-serif;
  @extend %u-gpu-accelerated;
  @include font-size($font-size-small, none);
  background: $color-brick-red $color-gradient-tropical;
  position: fixed;
  width: 100%;
  z-index: index($z-index-elements-global, header);


  /**
   * Home page.
   */

  .s-view-index & {
    position: static;
  }
}


/**
 * Logo.
 */

.c-site-header__logo {
  width: 80px;
  height: 40px;
  fill: $color-white;
}


/**
 * Main navigation.
 */

.c-site-header__nav {
  @extend %o-list-inline;
  // Hack to remove whitespace between the `li`s
  font-size: 0;

  // Reapply font size due to hack above
  li {
    @include font-size($font-size-small, none);
  }


  /**
   * Links.
   */

  a {
    @include to-rem(padding, $spacing-half);
    color: $c-site-header-main-color;
    display: block;
    position: relative;
    text-decoration: none;


    /**
     * Line that appears at the top of the links on hover/active states.
     */

    &:before {
      @extend %u-position-pin-sides-top;
      content: "";
      height: $c-site-header-nav-overline-thickness;
      background-color: $c-site-header-main-color;
      transform: translateY(-100%);
      transition: transform 0.15s linear;
    }

    /**
     * Hover and active states.
     */

    &:hover:before,
    &:focus:before,
    &.is-active:before {
      transform: translateY(calc(100% - #{$c-site-header-nav-overline-thickness}));
    }
  }
}