/* ============================================================================
   @COMPONENTS -> SECTION NAVIGATION
   ========================================================================= */


/**
 * Navigation block for a section.
 */


/**
 * Settings.
 */

$c-section-nav-width: 200;


.c-section-nav {
  @extend %font-family-sans-serif;
  border-radius: $border-radius;
  border: 2px solid $color-grey-concrete;
  left: -(to-rem($c-section-nav-width + 60));
  padding: to-rem($spacing-base);
  position: absolute;
  top: -(to-rem($spacing-half));
  width: to-rem($c-section-nav-width);
  z-index: index($z-index-elements-global, section-nav);



  /**
   * When the nav hits the top of the viewport make it `position: fixed` via
   * JS.
   */

  &.is-fixed {
    position: fixed;
    top: $fixed-site-header-height * 1px;
    left: 0;
  }


  /**
   * Links.
   */

  a {
    display: block;
  }
}


/**
 * The definition list heading.
 */

.c-section-nav__heading {
  color: $color-black;
  font-size: to-rem($font-size);
  font-weight: 700;
  margin-bottom: to-rem($spacing-half);
}


/**
 * Back to top anchor.
 */

.c-section-nav__back-to-top {
  margin-top: to-rem($spacing-half);
}