/* ============================================================================
   @COMPONENTS -> SITE FOOTER
   ========================================================================= */


/**
 * The site footer.
 */


.c-site-footer {
  @extend %font-family-sans-serif;
  @include to-rem(padding-top padding-bottom, $spacing-double);
  @include font-size($font-size-small);
  background-color: $color-grey-concrete;
  color: darken($color-grey-concrete, 60%);

  p {margin-bottom: 0;}
}


.c-site-footer__copyright {
  @include font-size($font-size-x-small);
  @include to-rem(margin-top, $spacing-third);
  display: block;
}