/* ============================================================================
   @COMPONENTS -> SITE FOOTER
   ========================================================================= */


/**
 * The site footer.
 */


.c-site-footer {
  @extend %font-family-sans-serif;
  @include to-rem(padding-top padding-bottom, $spacing-double);
  @include font-size($font-size-small);
  background-color: $color-grey-concrete;
  color: $color-grey-scorpion;

  p {
    margin-bottom: 0;
  }
}


/**
 * Nav.
 */

.c-site-footer__nav {
  @include to-rem(margin-top margin-bottom, $spacing-third);
}


/**
 * Copyright.
 */

.c-site-footer__copyright {
  @include font-size($font-size-x-small);
  display: block;
}


/**
 * Social buttons.
 */

.c-site-footer__social {
  @include to-rem(margin-top, $spacing-base-plus-half);
}