/* ============================================================================
   @SETTINGS
   ========================================================================= */


/**
 * All project specific settings
 */


/* Typography
   ========================================================================= */


/**
 * Weights.
 */

$font-weight-normal:  400;

$font-weight-light:   300;

$font-weight-bold:    700;


/* Colours
   ========================================================================= */


/**
 * Gradients.
 */

$color-gradient-tropical: linear-gradient(-90deg, #f9ac0a 0%, #fd536f 50%, #bf2f44 100%);