@charset "UTF-8";


/* ============================================================================
   @MASTER STYLESHEET
   ========================================================================= */


/**
 * Scally, being an OO framework, works in keeping with the open/closed
 * principle. Any custom styles *SHOULD NOT* be added or modified in Scally
 * directly. This also allows the framework to be updated seamlessly.
 *
 * Contents:
 *
 * Your settings.........your project-specific settings.
 * Scally framework......the entire Scally framework including your overrides.
 * Your styles...........all your project-specific styles.
 *
 * N.B. the above order and the order within the Scally framework section must
 * always be followed.
 */




/* Your settings
   ========================================================================= */

/**
 * Your project-specific settings.
 *
 * N.B. define first so they can be used throughout your styles.
 */


@import "settings";




/* Scally framework
   ========================================================================= */

/**
 * By default everything is imported. But if you want to be selective and you
 * definitely should, so your CSS is as lean as possible, then only import what
 * you want. The Core section is however mandatory.
 *
 * Any settings you find set in Scally that you do not wish to keep, simply
 * redefine above/below the relevant `@import`. This means that if Scally, for
 * example, sets your `$font-size` at `16px` and you wish it to be `14px`,
 * simply redeclare it above the relevant `@import`, like so:
 *
   $font-size: 14;
   @import "../../../node_modules/scally/core/settings/typography";
 *
 * If you want to use a Scally setting to override something then you need to
 * define the override below the `@import`, like so:
 *
   @import "../../../node_modules/scally/core/settings/colours";
   $color-text-base: $color-brand;
 *
 * If you try to redeclare above the `@import` your Sass won't compile as you
 * don't have access to the Scally setting at the point of compilation.
 *
 * All non-Core settings need to be overridden above the `@import`, like so:
 *
   $o-arrow-size-base: 14;
   $o-arrow-color: orange;
   @import "../../../node_modules/scally/objects/o-arrow";
 *
 * Scally ignores its own settings in favour of using your own, so you can
 * completely modify how Scally works without ever having to alter the
 * framework itself.
 *
 * N.B. the order specified below must always be followed or Scally will
 * break.
 *
 * Contents:
 *
 * CORE
 * LAYOUT
 * OBJECTS
 * COMPONENTS
 * UTILITIES
 */


/**
 * CORE.
 *
 * N.B. this is all mandatory for the Scally framework.
 */

// Settings
$font-size:          16;
$line-height:        26;
$font-family-base:   Georgia, Palatino, "Hoefler Text", Baskerville, serif;
@import "../../../node_modules/scally/core/settings/typography";

@import "../../../node_modules/scally/core/settings/spacing";

@import "../../../node_modules/scally/core/settings/breakpoints";

@import "../../../node_modules/scally/core/settings/widths";

@import "../../../node_modules/scally/core/settings/colours";
$color-brand:      $color-brick-red;
$color-text-base:  $color-tundora;

@import "../../../node_modules/scally/core/settings/positioning";

$border-radius: 4px;
@import "../../../node_modules/scally/core/settings/cosmetics";

@import "../../../node_modules/scally/core/settings/retina-resolution";

// Functions
@import "../../../node_modules/scally/core/functions/convert-px-to-em-rem";

@import "../../../node_modules/scally/core/functions/math-helpers";

@import "../../../node_modules/scally/core/functions/string-replace";

@import "../../../node_modules/scally/core/functions/strip-unit";

// Mixins
@import "../../../node_modules/scally/core/mixins/convert-px-to-em-rem";

@import "../../../node_modules/scally/core/mixins/font-size";

@import "../../../node_modules/scally/core/mixins/gradients";

@import "../../../node_modules/scally/core/mixins/media-queries";

@import "../../../node_modules/scally/core/mixins/generate-at-breakpoints";

@import "../../../node_modules/scally/core/mixins/generate-percentage-classes-at-breakpoints";

@import "../../../node_modules/scally/core/mixins/retina-bg-image";

@import "../../../node_modules/scally/core/mixins/target-browsers";

@import "../../../node_modules/scally/core/mixins/target-headings";

@import "../../../node_modules/scally/core/mixins/text-input-placeholder-colour";

// Normalize
@import "../../../node_modules/scally/core/normalize";

// Reset
@import "../../../node_modules/scally/core/reset";

// Base
$html-element-background-color: $color-grey-concrete;
@import "../../../node_modules/scally/core/base/root";

@import "../../../node_modules/scally/core/base/abbreviation";

@import "../../../node_modules/scally/core/base/forms";

@import "../../../node_modules/scally/core/base/details";

$apply-heading-margins: true;
$font-size-heading-1:   46;
$font-size-heading-2:   36;
$font-size-heading-3:   31;
$font-size-heading-4:   24;
$font-size-heading-5:   $font-size + 2;
$font-size-heading-6:   $font-size;
$font-family-headings:  $font-family-sans-serif;
@import "../../../node_modules/scally/core/base/headings";

@import "../../../node_modules/scally/core/base/horizontal-rule";

$apply-link-underline-on-hover:   false;
$link-color:                      $color-brand;
$link-color-hover:                $color-wild-watermelon;
@import "../../../node_modules/scally/core/base/links";

@import "../../../node_modules/scally/core/base/media";

@import "../../../node_modules/scally/core/base/paragraphs";

@import "../../../node_modules/scally/core/base/print";

@import "../../../node_modules/scally/core/base/viewport";

// Placeholders
@import "../../../node_modules/scally/core/placeholders/bottom-spacing";


/**
 * LAYOUT.
 */

// Main container
$l-container-minimum-width:  280;
$l-container-maximum-width:  640;
@import "../../../node_modules/scally/layout/l-container";

// Grid
@import "../../../node_modules/scally/layout/l-grid";

@import "../../../node_modules/scally/layout/l-grid-pull";

@import "../../../node_modules/scally/layout/l-grid-push";

// Side-by-side
@import "../../../node_modules/scally/layout/l-side-by-side";

@import "../../../node_modules/scally/layout/l-side-by-side-alt";

// CSS3 columns
@import "../../../node_modules/scally/layout/l-columns";


/**
 * OBJECTS.
 */

@import "../../../node_modules/scally/objects/o-drop-down";

@import "../../../node_modules/scally/objects/o-flexible-embed";

@import "../../../node_modules/scally/objects/o-link-complex";

@import "../../../node_modules/scally/objects/o-link-disguised";

$o-list-apply-hanging-bullets: true;
@import "../../../node_modules/scally/objects/o-list";

@import "../../../node_modules/scally/objects/o-list-block";

$o-list-inline-apply-at-breakpoints:                  401;
$o-list-inline-apply-at-breakpoints-for-default:      true;
$o-list-inline-apply-at-breakpoints-for-spacing-tiny: true;
@import "../../../node_modules/scally/objects/o-list-inline";

@import "../../../node_modules/scally/objects/o-arrow";

@import "../../../node_modules/scally/objects/o-overlay";

@import "../../../node_modules/scally/objects/o-table";

@import "../../../node_modules/scally/objects/o-button";


/**
 * COMPONENTS.
 */

$c-button-apply-hover-styles:     false;
$c-button-apply-border:           true;
$c-button-background-color:       none;
$c-button-border-color:           $color-white;
$c-button-rounded-corners-size:   6px;
@import "../../../node_modules/scally/components/c-button";

@import "../../../node_modules/scally/components/c-button-faux-link";


/**
 * UTILITIES.
 */

@import "../../../node_modules/scally/utilities/u-clear-fix";

@import "../../../node_modules/scally/utilities/u-text";

@import "../../../node_modules/scally/utilities/u-widths";

@import "../../../node_modules/scally/utilities/u-alignments";

@import "../../../node_modules/scally/utilities/u-toggle-visibility";

@import "../../../node_modules/scally/utilities/u-momentum-scrolling";

@import "../../../node_modules/scally/utilities/u-float";

@import "../../../node_modules/scally/utilities/u-new-block-formatting-context";

@import "../../../node_modules/scally/utilities/u-gpu-accelerated";

@import "../../../node_modules/scally/utilities/u-position";

@import "../../../node_modules/scally/utilities/u-display";

@import "../../../node_modules/scally/utilities/u-spacing";

@import "../../../node_modules/scally/utilities/u-overflow";

@import "../../../node_modules/scally/utilities/u-hide";




/* Your styles
   ========================================================================= */


/**
 * CORE.
 */

// Base
@import "core/base/font-face";

@import "core/base/root";

@import "core/base/strong";

@import "core/base/headings";

@import "core/base/code";

@import "core/base/target";

// Placeholders
@import "core/placeholders/typography";


/**
 * LAYOUT.
 */

@import "layout/l-container";


/**
 * COMPONENTS.
 */

@import "components/c-site-header";

@import "components/c-site-footer";

@import "components/c-main-content";

@import "components/c-button";

@import "components/c-hero";

@import "components/c-banner";

@import "components/c-demo-block";

@import "components/c-inline-code";

@import "components/c-back-to-top";


/**
 * UTILITIES.
 */

@import "utilities/u-anchor-target";


/**
 * VENDOR.
 */

// Pygments syntax highlighter themes
@import "vendor/pygments-themes/solarized-dark";
