---
layout: default
---

{% include hero.html %}

{% include home/intro.html %}





<div class="features  l-container l-container--full-bleed  u-s-pb-huge u-hide">
  <div class="l-container">
    <h2 class="u-text-align-center">Features</h2>
    <div class="l-grid">
      <div class="l-grid__item  u-one-third">
        <h3 class="u-s-mb-small">Sass-based</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nemo ipsum neque dolorum autem dolor doloremque totam sequi sed quo architecto aliquid, veritatis quam similique. Optio accusamus ut dignissimos pariatur!</p>
      </div>
      <div class="l-grid__item  u-one-third">
        <h3 class="u-s-mb-small">BEM</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nemo ipsum neque dolorum autem dolor doloremque totam sequi sed quo architecto aliquid, veritatis quam similique. Optio accusamus ut dignissimos pariatur!</p>
      </div>
      <div class="l-grid__item  u-one-third">
        <h3 class="u-s-mb-small">Responsive &amp; lightweight</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nemo ipsum neque dolorum autem dolor doloremque totam sequi sed quo architecto aliquid, veritatis quam similique. Optio accusamus ut dignissimos pariatur!</p>
      </div>
    </div>
  </div>
</div>
