/* ============================================================================
   @UTILITIES -> BACKGROUNDS
   ========================================================================= */


/**
 * Applies common background colours and gradients.
 */


.u-background-tropical {background-image: $colour-gradient-tropical;}

.u-background-grey {background-color: $colour-grey-0;}

.u-background-black {background-color: $colour-black;}


/**
 * For the darker backgrounds it makes sense to apply a white foreground colour
 * and a white link colour.
 */

.u-background-black,
.u-background-tropical {
  &,
  a {color: $colour-white;}
}