<!-- Banner -->
<header class="c-banner{% if page.landing_page %} c-banner--landing{% endif %}">
  <div class="l-container">
    <h1 class="c-banner__title">
      {% if page.section == 1 %}
        Getting Started
      {% elsif page.section == 2 %}
        Documentation
      {% elsif page.section == 3 %}
        Demos
      {% elsif page.section == 4 %}
        Blog
      {% endif %}
    </h1>
    <p class="c-banner__intro">
      {% if page.section == 1 %}
        Getting started into here
      {% elsif page.section == 2 %}
        Documentation for all the major sections of Scally, and more.
      {% elsif page.section == 3 %}
        Demos for all the major sections of Scally.
      {% elsif page.section == 4 %}
        Blog intro here
      {% endif %}
    </p>
  </div>
</header>
<!-- //Banner -->