<!-- Footer -->
<footer class="c-site-footer" role="contentinfo">
  <div class="l-container">

    <!-- Credit -->
    <p>Scally is an open source project by <a href="http://chris-pearce.me" rel="external">Chris Pearce</a> and some other <a href="/secondary/fine-fellows.html">fine fellows</a>.</p>
    <!-- //Credit -->

    <!-- Nav -->
    <ul class="c-site-footer__nav  o-list-inline o-list-inline--delimited-slash o-list-inline--spacing-tiny">
      <li><a href="/secondary/colophon.html">Colophon</a></li><!--
      --><li><a href="https://github.com/chris-pearce/scally/issues" rel="external">Issues</a></li><!--
      --><li><a href="https://github.com/chris-pearce/scally/blob/master/CHANGELOG.md" rel="external">CHANGELOG</a></li><!--
      --><li><a href="/secondary/credit.html">Credit</a></li>
    </ul>
    <!-- //Nav -->

    <!-- Copyright -->
    <small class="c-site-footer__copyright">&copy; Chris Pearce {{ 'now' | date: "%Y" }}—<a href="https://github.com/chris-pearce/scally/blob/master/LICENSE" rel="external">License</a>.</small>
    <!-- //Copyright -->

    <!-- Social -->
    <ul class="c-site-footer__social  o-list-inline o-list-inline--spacing-tiny">
      <li>
        <a href="https://twitter.com/scally_fw" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @scally_fw</a>
      </li><!--
      --><li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="scally_fw" data-size="large" data-count="none">Tweet</a>
      </li><!--
      --><li>
        <iframe src="https://ghbtns.com/github-btn.html?user=chris-pearce&amp;type=star&amp;size=large&amp;repo=scally&amp;count=true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
      </li>
    </ul>
    <!-- //Social -->

  </div>
</footer>
<!-- //Footer -->
