<!-- Header -->
<header role="banner" class="c-site-header  u-hide">
  <div class="l-container">
    <div class="l-side-by-side-alt">
      <div class="l-side-by-side-alt__left">
        <img src="img/logo.svg" width="83" alt="Scally CSS framework">
      </div>
      <nav class="l-side-by-side-alt__right  u-text-align-right" role="navigation">
        <ul class="c-site-header__nav">
          <li><a href="#">The architecture</a></li>
          <li><a href="#">Getting started</a></li>
          <li><a href="#">Demos</a></li>
          <li><a href="#">Documentation</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- //Header -->
