<!-- Header -->
<header class="c-site-header  js-site-header" role="banner">
  <div class="l-container l-container--wide">
    <div class="l-side-by-side-alt">
      {% unless page.home_page %}
      <div class="l-side-by-side-alt__left">
        <a href="/" rel="home">
          <svg viewBox="0 0 251 92" class="c-site-header__logo">
            <use xlink:href="/img/logo.svg#scally" />
          </svg>
        </a>
      </div>
      {% endunless %}
      <nav class="l-side-by-side-alt__right  u-text-align-right" role="navigation" aria-label="Main navigation">
        {% assign pages = site.pages | sort: "weight" %}
        <ul class="c-site-header__nav">
          {% for p in pages %}
            {% assign is_active = nil %}
            {% assign url_one = p.url | replace: "/"," " | truncatewords: 1 | remove: "..." | remove: ".html" %}
            {% assign url_two = page.url | replace: "/"," " | truncatewords: 1 | remove: "..." | remove: ".html" %}
            {% if url_one == url_two %}
              {% assign is_active = "is-active" %}
            {% endif %}
            {% unless p.exclude_from_nav %}
              <li>
                <a class="{{ is_active }}" href="{{ p.url }}">{{ p.title }}</a>
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- //Header -->
