<!-- Hero -->
<header class="c-hero">
  <div class="c-hero__inner  l-container">

    <!-- Logo -->
    <svg class="c-hero__logo" viewBox="0 0 251 92">
      <use xlink:href="/_assets/img/logo.svg#scally"></use>
      <use xlink:href="/_assets/img/logo.svg#css-framework"></use>
    </svg>
    <!-- //Logo -->

    <!-- Slogan -->
    <p class="c-hero__slogan">A rock solid, powerful little CSS framework that won't let you down.</p>
    <!-- //Slogan -->

    <!-- Install commands -->
    <ul class="c-hero__install  o-list-inline-from-401">
      <li>
        <kbd class="c-hero__install__item">bower install scally</kbd>
      </li><!--
      --><li>
        <kbd class="c-hero__install__item">npm install scally</kbd>
      </li><!--
      --><li>
        <a href="https://github.com/chris-pearce/scally/archive/master.zip" rel="external" class="c-hero__install__item c-hero__cmds__item--link"> Download Scally</a>
      </li>
    </ul>
    <!-- //Install commands -->

    <!-- Version and GitHub link -->
    <div class="c-hero__version">
      <strong>v2.4.0</strong>—<strong>14kb</strong> <a href="https://github.com/chris-pearce/scally/blob/master/CHANGELOG.md" rel="external">CHANGELOG</a><!--
      --><a href="https://github.com/chris-pearce/scally" rel="external">GitHub</a>
    </div>
    <!-- //Version and GitHub link -->

  </div>

  <!-- Animating gradient -->
  <!-- <div class="c-hero__gradient c-hero__gradient--lead"></div>
  <div class="c-hero__gradient c-hero__gradient--follow"></div> -->
  <!-- //Animating gradient -->

</header>
<!-- //Hero -->
