<!-- Hero -->
<header class="c-hero  js-animate-hero-gradient" role="banner">
  <div class="l-container">

    <!-- Logo -->
    <img class="c-hero__logo" src="/_assets/img/logo.svg" alt="Scally CSS framework">
    <!-- //Logo -->

    <!-- Actions -->
    <ul class="c-hero__actions-main  o-list-inline-from-401">
      <li>
        <a href="#" class="c-button c-button--full-bleed">Getting started</a>
      </li><!--
      --><li>
        <a href="#" class="c-button c-button--full-bleed">Demos</a>
      </li><!--
      --><li>
        <a href="#" class="c-button c-button--full-bleed">Docs</a>
      </li>
    </ul>
    <div class="c-hero__actions-sub">
      v2.0.2—<a href="#">CHANGELOG</a><!--
      --><a href="https://github.com/chris-pearce/scally" rel="external">GitHub</a>
    </div>
    <!-- //Actions -->

  </div>

  <!-- Animating gradient -->
  <div class="c-hero__gradient c-hero__gradient--lead"></div>
  <div class="c-hero__gradient c-hero__gradient--follow"></div>
  <!-- //Animating gradient -->

</header>
<!-- //Hero -->