<!doctype html>
<html lang="en-au"{% if p.url == page.url %}class="active"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} &#x2759; {{ site.title }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link href="//fonts.googleapis.com/css?family=Merriweather:400,300,400italic,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  </head>
