<!doctype html>
<html lang="en-au"{% if page.url %} class="s-view{{ page.url | remove: ".html" | replace: "/","-" }}"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 240 }}{% else %}{{ site.description }}{% endif %}">
    <link href="//fonts.googleapis.com/css?family=Merriweather:400,300,400italic,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <!-- Twitter summary card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@scally_fw">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{{ site.url }}/img/twitter-card.png">
    <!-- //Twitter summary card -->
  </head>
