<!-- Section nav -->
{% if page.section == 2 %}
  <nav class="c-section-nav  js-fix-the-sidebar" role="navigation">
    <dl>
      <dt class="c-section-nav__heading">In This Section</dt>
      <dd><a href="#">Core</a></dd>
      <dd><a href="#">Layout</a></dd>
      <dd><a href="#">Objects</a></dd>
      <dd><a href="#">Components</a></dd>
      <dd><a href="#">Utilities</a></dd>
      <dd class="c-section-nav__back-to-top"><a href="#">Back to top</a></dd>
    </dl>
  </nav>
{% endif %}
<!-- //Section nav -->
