<!-- Sidebar -->
{% if page.section == 2 %}
<aside class="c-sidebar" role="complimentary">
  <nav class="c-section-nav" role="navigation">
    <ul>
      <li><a href="#">Core</a>
        <!-- <ul>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Functions</a></li>
          <li><a href="#">Mixins</a></li>
          <li><a href="#">Base</a></li>
          <li><a href="#">Placeholders</a></li>
        </ul> -->
      </li>
      <li><a href="#">Layout</a></li>
      <li><a href="#">Objects</a></li>
      <li><a href="#">Components</a></li>
      <li><a href="#">Utilities</a></li>
    </ul>
  </nav>
  <!-- <a href="#">Back to top</a> -->
</aside>
{% endif %}
<!-- //Sidebar -->
