<div class="l-container  u-s-pe-huge u-hide">
<!-- <h1 class="h5">Scally architecture</h1> -->
<h1 class="h5">What You Get</h1>
<p>Scally is broken down into five main sections, with each section getting its own level of specificity. This means each one builds on top of the other in terms of inheritance and CSS' first C: the cascade. Think of these sections as layers:</p>
<!-- <ol class="list">
  <li><a href="#">Core</a></li>
  <li><a href="#">Objects</a></li>
  <li><a href="#">Layout Modules</a></li>
  <li><a href="#">Components</a></li>
  <li><a href="#">Utilities</a></li>
</ol> -->
<svg viewBox="0 0 1317 438" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
    <title>Stacked concept</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <linearGradient x1="0.25781251%" y1="49.7500002%" x2="101.257813%" y2="49.7500002%" id="linearGradient-1">
            <stop stop-color="#BF2E44" offset="0%"></stop>
            <stop stop-color="#FE536E" offset="47.5247532%"></stop>
            <stop stop-color="#FAAD0A" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Stacked-concept" sketch:type="MSLayerGroup" transform="translate(0.000000, -18.000000)" fill="url(#linearGradient-1)">
            <path d="M1153.27662,92.8334007 L1265.67162,225.752775 L112.824691,455.166606 L0.4296875,238.615513 L1153.27662,92.8334007 Z" id="Rectangle-20" sketch:type="MSShapeGroup"></path>
            <path d="M1167.32446,73.6056925 L1279.71946,206.525067 L126.872529,435.938897 L14.4775254,219.387805 L1167.32446,73.6056925 Z" id="Rectangle-21" stroke="#FFFFFF" fill-opacity="0.8" sketch:type="MSShapeGroup"></path>
            <path d="M1180.43577,56.4127576 L1292.83078,189.332132 L139.983844,418.745962 L27.5888408,202.19487 L1180.43577,56.4127576 Z" id="Rectangle-22" stroke="#FFFFFF" fill-opacity="0.6" sketch:type="MSShapeGroup"></path>
            <path d="M1191.87062,37.71875 L1304.26562,170.638125 L151.418691,400.051955 L39.0236883,183.500863 L1191.87062,37.71875 Z" id="Rectangle-23" stroke="#FFFFFF" fill-opacity="0.4" sketch:type="MSShapeGroup"></path>
            <path d="M1203.87062,18.71875 L1316.26562,151.638125 L163.418691,381.051955 L51.0236883,164.500863 L1203.87062,18.71875 Z" id="Rectangle-26" stroke="#FFFFFF" fill-opacity="0.4" sketch:type="MSShapeGroup"></path>
        </g>
    </g>
</svg>


<!-- details {margin-bottom: 2px;}

summary {
  background: #f5f2f0;
  padding: 6px 12px;
  @include font-size(13, 1.2);

  .u-arrow--down {
    display: none;
    top: 60%;
  }
}

details[open] summary {
  background: darken(#f5f2f0, 5%);
  .u-arrow--right {display: none;}
  .u-arrow--down {display: block;}
} -->

<!-- <h1>Scally’s suite</h1> -->
<!-- <p>Scally’s suite of <a href="#"><strong>Layout modules</strong></a>, <a href="#"><strong>Objects</strong></a>, and <a href="#"><strong>Utilities</strong></a>—all of which can be applied at any breakpoint:</p> -->
<!-- <div class="l-grid l-grid--gutter-tiny">
  <div class="l-grid__item  u-one-quarter">
    <h2 class="h5">Components</h1>
    <ul>
      <li><a href="#" class="c-pill">Button</a></li>
      <li><a href="#" class="c-pill">Button faux</a></li>
    </ul>
  </div>
  <div class="l-grid__item  u-one-quarter">
    <h2 class="h5">Layout modules</h1>
    <ul>
      <li><a href="#" class="c-pill">Columns</a></li>
      <li><a href="#" class="c-pill">Container</a></li>
      <li><a href="#" class="c-pill">Grid</a></li>
      <li><a href="#" class="c-pill">Side-by-side</a></li>
    </ul>
  </div>
  <div class="l-grid__item  u-one-quarter">
    <h2 class="h5">Objects</h1>
    <ul>
      <li><a href="#" class="c-pill">Arrow</a></li>
      <li><a href="#" class="c-pill">Button</a></li>
      <li><a href="#" class="c-pill">Drop down</a></li>
      <li><a href="#" class="c-pill">Flexible embed</a></li>
      <li><a href="#" class="c-pill">Link complex</a></li>
      <li><a href="#" class="c-pill">Link disguised</a></li>
      <li><a href="#" class="c-pill">List block</a></li>
      <li><a href="#" class="c-pill">List inline</a></li>
      <li><a href="#" class="c-pill">List</a></li>
      <li><a href="#" class="c-pill">Overlay</a></li>
      <li><a href="#" class="c-pill">Table</a></li>
    </ul>
  </div>
  <div class="l-grid__item  u-one-quarter">
    <h2 class="h5">Utilities</h1>
    <ul>
      <li><a href="#" class="c-pill">Alignments</a></li>
      <li><a href="#" class="c-pill">Clear fix</a></li>
      <li><a href="#" class="c-pill">Display</a></li>
      <li><a href="#" class="c-pill">GPU accelerated</a></li>
      <li><a href="#" class="c-pill">Hide</a></li>
      <li><a href="#" class="c-pill">Momentum scrolling</a></li>
      <li><a href="#" class="c-pill"><abbr title="New block formatting context">NBFC</abbr></a></li>
      <li><a href="#" class="c-pill">Overflow</a></li>
      <li><a href="#" class="c-pill">Position</a></li>
      <li><a href="#" class="c-pill">Spacing</a></li>
      <li><a href="#" class="c-pill">Text</a></li>
      <li><a href="#" class="c-pill">Toggle visibility</a></li>
      <li><a href="#" class="c-pill">Widths</a></li>
    </ul>
  </div>
</div> -->
</div>