/* ============================================================================
   @CORE -> BASE -> HEADINGS
   ========================================================================= */


/**
 * Double stranded for greater reuse.
 *
 * N.B. this builds on top of the Scally headings base styles.
 */


/**
 * Apply common treatments.
 */

// Colour
@include headings(3, 6, true) {
  color: $color-black;
}

// Bottom margin
@include headings(2, 6, true) {
  @extend %bottom-spacing;
}

// Font weights
@include headings(2, 4, true) {
  font-weight: 300;
}

@include headings(5, 6, true) {
  font-weight: bold;
}


/**
 * H2.
 */

h2,
.h2 {
  background-image: $color-gradient-tropical;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/**
 * H3.
 */

h3,
.h3 {

}