/* ============================================================================
   @CORE -> BASE -> HEADINGS
   ========================================================================= */


/**
 * Double stranded for greater reuse.
 *
 * N.B. this builds on top of the Scally headings base styles.
 */


/**
 * Settings.
 */

$heading-anchor-icon-size: 24px;


/**
 * Apply common treatments.
 */

// Colour
@include headings(3, 6, true) {
  color: $color-black;
  line-height: 1.5;
  // This is needed to position the anchor element
  position: relative;
}

// Bottom margin
@include headings(4, 6, true) {
  @include to-rem(margin-bottom, $spacing-base);

  &:last-child {
    margin-bottom: 0;
  }
}

// Font weights
@include headings(2, 4, true) {
  font-weight: 300;
}

@include headings(5, 6, true) {
  font-weight: bold;
}


/**
 * H1.
 */

h1,
.h1 {
  font-weight: $font-weight-bold;
}


/**
 * H2.
 */

h2,
.h2 {
  background-image: $color-gradient-tropical;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/**
 * Nested anchor element.
 */

.section-anchor {
  @extend %u-position-v-middle;
  left: -36px;
  line-height: 0;
  padding: 8px 6px;
  background: red;
  transition: none;


  /**
   * The anchor's target which is a heading element, need to account for the
   * fixed header.
   */

  :target & {
    top: auto !important;
    bottom: 0 !important;
    transform: none !important;
  }


  /**
   * The link icon.
   */

  svg {
    fill: $color-grey-scorpion;
    height: $heading-anchor-icon-size;
    opacity: 0.3;
    transition: opacity 0.15s;
    width: $heading-anchor-icon-size;
  }

  &:hover svg,
  &:focus svg {
    opacity: 1;
  }
}