/* ============================================================================
   @CORE -> BASE -> HEADINGS
   ========================================================================= */


/**
 * Double stranded for greater reuse.
 *
 * N.B. this builds on top of the Scally headings component.
 */


/**
 * Apply common treatments.
 */

@include headings(1, 6, true) {
  @extend %bottom-spacing;
}

@include headings(2, 4, true) {
  font-weight: 300;
}

@include headings(5, 6, true) {
  font-weight: bold;
}


/**
 * H1.
 */

h1,
.h1 {
  background-image: $color-gradient-tropical;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}