/* ============================================================================
   @CORE -> BASE -> TARGET
   ========================================================================= */


/**
 * Apply a hack to prevent elements that are anchored too from slipping under
 * the fixed header.
 *
 * @credit
 * http://nicolasgallagher.com/jump-links-and-viewport-positioning/
 */

:target::before {
  content: "";
  display: block;
  height: $fixed-site-header-height * 1px;
  margin-top: -$fixed-site-header-height * 1px;
  opacity: 0;
}
