<!-- Hero -->
<section class="c-hero">
  <div class="l-container">

    <!-- Logo -->
    <div class="u-text-align-center">
      <img src="img/logo.svg" alt="" class="u-s-mb-large">
    </div>
    <!-- //Logo -->

    <!-- Description -->
    <p>Scally is a <a href="http://sass-lang.com/" rel="external">Sass</a>-based, <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/" rel="external">BEM</a>, <a href="http://www.smashingmagazine.com/2011/12/12/an-introduction-to-object-oriented-css-oocss/" rel="external">OOCSS</a>, responsive ready, CSS framework that provides you with a solid foundation for building reusable <abbr title="User Interface">UI</abbr>'s quickly. It is a framework focused on <strong>scalability</strong> and <strong>reuse</strong>, there when you need it and getting out of your way when you don't.</p>
    <p>Scally is designed to be <strong>configurable</strong>, only requiring you to bring in the parts you are using, keeping your CSS architecture <strong>light weight</strong> and <strong>scalable</strong>. It is <strong>unopinionated</strong> about design giving you more flexibility than your typical UI toolkit.</p>
    <!-- //Description -->

    <!-- Actions -->
    <div class="c-hero__actions">
      <div class="c-hero__actions__main">
        <a href="#" class="c-button">Getting started</a><!--
        --><a href="#" class="c-button">Demos</a>
      </div>
      <div class="c-hero__actions__sub">
        <a href="#">Documentation</a><!--
        --><a href="#">CHANGELOG</a><!--
        --><a href="https://github.com/chris-pearce/scally" rel="external">GitHub</a>
      </div>
    </div>
    <!-- //Actions -->

  </div>
</section>
<!-- //Hero -->